# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.cluster import KMeans
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
data=pd.read_csv("./segmentation data.csv")
data.head()

          ID  Sex  Marital status  ...  Income  Occupation  Settlement size
0  100000001    0               0  ...  124670           1                2
1  100000002    1               1  ...  150773           1                2
2  100000003    0               0  ...   89210           0                0
3  100000004    0               0  ...  171565           1                1
4  100000005    0               0  ...  149031           1                1

[5 rows x 8 columns]

In [ ]:
data.dtypes

In [ ]:
data.shape

In [ ]:
data.isnull().any()

In [ ]:
data['ID'].unique()
len(data['ID'].unique())

In [ ]:
plt.scatter(data['Age'],data['Income'])
plt.xlabel('Age')
plt.ylabel('Income')
plt.show()

In [ ]:
x=data[['Age','Income']]
x.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
ms=StandardScaler()
stand=ms.fit_transform(x)

In [ ]:
wt=[]
for i in range(1, 10):
    kmeans=KMeans(n_clusters=i,init= 'k-means++', max_iter=300, n_init=10, random_state=0)
    kmeans.fit(stand)
    wt.append(kmeans.inertia_)
plt.plot(range(1, 10),wt)    
plt.title("Elbow method")
plt.xlabel("No of Clusters")
plt.ylabel("wt")
plt.show()

In [ ]:
kmeans=KMeans(n_clusters=5,random_state=0)
kmeans.fit(stand)

In [ ]:
prediction=kmeans.fit_predict(stand)
prediction

In [ ]:
new_data=data.copy()
new_data['cluster']=prediction
new_data.head()

In [ ]:
plt.scatter(new_data['Age'],new_data["Income"],c=new_data['cluster'],cmap='rainbow')
plt.xlabel('Age')
plt.ylabel('Income')
plt.show()